<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <section style="margin: auto;
    width: 50%;
    border: 1px solid green;
    padding: 10px;
    text-align: center;">

        <h2>File upload Form</h2>
        <form style="text-align: left;" action="/" method="post" enctype="multipart/form-data">
            <input type="text" name="name" id="name"> : FileName <br>
            <input type="text" name="desc" id="desc"> : Description <br>
            <input type="file" name="image" id="image"> <br>
            <input type="submit" value="Upload"> <br>
        </form>
    </section>
</body>
</html>